.nav_menu {
    width: 100%;
    background: #f7f5f5;
    z-index: 2;
}
.nav_menu .top_nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}
.nav_menu .top_nav ul.social_menu,
.nav_menu .top_nav ul.account_menu {
    display: inline-flex;
    padding: 5px;
}
.nav_menu .top_nav ul.social_menu li,
.nav_menu .top_nav ul.account_menu li{
    padding-right: 10px;
}
.nav_menu .top_nav ul.social_menu li i {
    font-size: 1.3rem;
}
.nav_menu .top_nav ul.social_menu li i:hover {
    color: #f48f03;
}
ul.account_menu button {
    padding: 5px 15px 5px 15px;
    font-size: 0.9rem;
    border-radius: 25px;
}
ul.account_menu button.login_btn {
    background: transparent;
    border: 1px solid #01427b;
}
ul.account_menu button.login_btn:hover {
    transform: scale(1.03);
    box-shadow: #0241613f 1px 1px 3px 3px;
}
ul.account_menu button.login_btn a{
    color: #01427b;
    text-transform: uppercase;
    font-weight: 800;
}
ul.account_menu button.signup_btn {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,148,161,1) 0%, rgba(0,212,255,1) 100%);
}
ul.account_menu button.signup_btn:hover {
    transform: scale(1.05);
    box-shadow: #0241613f 1px 1px 3px 3px;
}
ul.account_menu button.signup_btn a{
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Middle section styling */
.middle_nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,158,189,1) 0%, rgba(236,244,245,0.8330523887377107) 100%);
    border-bottom: 1px solid #fff;
}
.middle_nav .logo {
    flex: 2;
    height: 77px;
}
.middle_nav .banner_img {
    flex: 1;
    height: 77px;
}

.logo img {
    width: 300px;
    height: 77px;
}

/* Bannner contact details */
.banner_img {
    display: flex;
    flex-direction: column;
}
.banner_img span{
    padding: 5px 0 5px 0;
    color: #ab3202;
    font-weight: 700;
    font-size: 1rem;
}
.banner_img span .bld {
    color: #e54303;
}

/* bottom navigation styling */

.bottom_nav {
    display: flex;
    justify-content: space-between;
    background: #01396ace;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bottom_nav .menu_items {
    width: 95%;
    padding: 5px 0 5px 5px;
}

.menu_items ul.menu_list {
    display: inline-flex;
}
ul.menu_list li {
    padding: 0 8px 0 0;
}

ul.menu_list li a {
    color: #fff;
    font-weight: 500;
}
ul.menu_list li a:hover {
    color: #fa9c18;
    font-weight: 800;
}
.bottom_nav .search_bar {
    width: 5%;
    display: inline-flex;
}
.search_bar i {
    padding: 5px 2px 5px 0;
    color: #fff;
    font-size: 1.5rem;
}
.search_bar i:hover {
    color: #f48f03;
    transform: scale(1.1);
}

.menu_icon {
    display: none;
}
.menu_items ul.menu_list li a.active {
    color: #fa9c18;
}

@media screen and (max-width: 768px) {
    .logo img {
        width: 220px;
    }
    .banner_img span{
        padding: 2px 0 2px 0;
        font-weight: 700;
        font-size: 0.9rem;
    }
    .bottom_nav .menu_items {
        width: auto;
        max-width: 30%;
    }
    .menu_items ul.menu_list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 170px;
        background-color: #f9fafa;
        padding: 3px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        z-index: 2;
    }
    .menu_icon {
        color: #fff;
        font-size: 1.5rem;
        display: block;
    }
    .menu_icon div:hover {
        cursor: pointer;;
    }
    .bottom_nav .search_bar {
        width: 10%;
    }
    .search_bar i {
        padding: 8px 0 5px 25px;
    }
    ul.menu_list li a {
        color: #151515;
        font-weight: 600;
    }
    ul.menu_list li {
        padding: 0 5px 0 0;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 560px) {
    .search_bar i {
        padding: 8px 0 5px 2px;
    }
    .logo img {
        width: 180px;
        height: 55px;
    }
    .banner_img span {
        font-size: 0.75rem;
        padding: 0 3px 0 0;
    }
    .menu_items ul.menu_list {
        top: 150px;
    }
}
@media screen and (max-width: 480px) {
    ul.account_menu button {
        padding: 5px 7px 5px 7px;
        font-size: 0.6rem;
        border-radius: 25px;
    }
    .middle_nav {
        flex-direction: column;
    }
    .banner_img {
        text-align: center;
        justify-content: center;
    }
    .banner_img span {
        padding: 3px 0 3px 0;
        font-size: 0.8rem;
    }
    .menu_items ul.menu_list {
        top: 190px;
    }

}
